.chip-container {
  margin: 3px;

  width: 32%;
  height: 98%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.75);
}
.chip-tab-name {
  color: white;
  background-color: #5f6062;
  font-weight: 400;
  height: 1.5rem;

  width: 100%;
  padding-left: 3px;
}
.chip-items-container {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: whitesmoke;
}

.chip-item-container {
  border-bottom: 1px dashed wheat;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.chip-items-container > div:nth-child(even) {
  background-color: rgb(245, 233, 233);
}
