@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,300&display=swap');
* {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
html,
body {
  border: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  font-weight: 300;
}
#root {
  height: 100%;
  width: 100%;
  background-color: #ebecf1;
}
